@media (max-width: 767px){
/* Main */
    .container-1{padding-bottom: 0;}
    .container-2{width: 100%;}

    .display{flex-direction: column;}  

    .grid-wander{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        margin: 0 auto;}
    .item-1,
    .item-2,
    .item-3 {
        position: relative;
        width: 90vw;
        margin: 0 auto;
        display: block;}
        .item-3 img{
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%) translateY(80px);
            width: 100%;
            max-width: 500px;
            height: auto;}

    .flex-img--left, .flex-img--right{float: none; display: block; margin: 0 auto;}

/* Portfolio */
    .container-all-port{width: 100%;}
    .portfolio{
        display: grid; grid-template-columns: 1fr;
        margin: 0 auto;
        justify-items: center;
        padding: 25px;
        box-sizing: border-box;}
    .portfolio figure{
        position: static;
        margin: 0 0 40px 0;
        display: flex;
        width: 90%;}
    
    .lightbox-inner{padding: 0px;}
    .lightbox img{max-width: 90vw;}
    .lightbox img.long{max-width: 90vw;}


/* Divine */
    .db-list{display: block;}
        .db-list img{width: 90%;}
    .column{display: block;}
        .column img{width: 300px;}
            
    .backscape{display: none;}

/* Beasts */
    .bk-list{
        flex-wrap: wrap;
        padding: 1rem;
        
        figure{margin: 10px;}
        img{width: clamp(100px, 40vw, 300px);}}
    .bk-lane a{width: 100%;}
    .bkslide a{img{width: 100%;}}



    .back{display: none; pointer-events: none;}
}

/* @media (max-width: 767px){
    .passage{width: 85vw; text-align: justify;}
        .quote{margin: 20px auto; width: 75vw;}
    .p2{margin: 20px;}
    .back{display: none; pointer-events: none;}

    .notif{display: block;}
} */