@media (max-width: 767px){
    .container-all{
        width: 100%;}
    .container-1{
        width: 100%;}
    .display{
        flex-direction: column;}   
    
    .container-2{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        margin: 0 auto;}
    .item-1,
    .item-2,
    .item-3 {
        position: relative;
        width: 90vw;
        max-width: 500px;
        margin: 0 auto;
        display: block;}
        .item-3 img{
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%) translateY(80px);
            width: 100%;
            max-width: 500px;
            height: auto;}

    .container-3{
        width: 100%;}
    .flex-left, .flex-right{
        float: none;
        display: block;
        margin: 0 auto;}

    .container-all-port{
        width: 100%;
        margin: 0 auto;
        overflow-x: hidden;}
    .portfolio{
        display: grid;
        grid-template-columns: 1fr;
        margin: 0 auto;
        justify-items: center;
        padding: 25px;
        box-sizing: border-box;}
        .portfolio figure{
            position: static;
            margin: 0 0 40px 0;
            display: flex;
            width: 90%;}
            .lightbox-inner{
                padding: 30px;}
            .lightbox img{
                max-width: 80vw;}
            .lightbox img.long{
                max-width: 80vw;}

    .db-list{
        display: block;}
    .column{
        display: block;}
        .column img{
            width: 300px;}
            
    .backscape{
        display: none;}


    .passage{
        width: 85vw;
        text-align: justify;}
    .p2{
        margin: 20px;}
    .back{
        left: 5vw;}

    .notif{
        display: block;}
}



/*? Add an a Ipad query.  */
/* @media (min-width: 768px){
    .container-all{
        width: 100%;}
    .container-1{
        width: 100%;}
    .display{
        flex-direction: row;}
} */

/* @media (min-width: 992px){

} */