.container-all-port{
    margin-left: auto;
    margin-right: auto;
    width: 75vw;
    min-width: 1500px;
    font-family: "Cormorant SC", serif;
    opacity: 0;
    transform: translateY(15px);
    animation: slideUp .5s ease-out forwards;}
    @keyframes slideUp{
        to{
            opacity: 1;
            transform: translateY(0);
        }}

/*! .portfolio{
    margin-top: 25px;
    margin-bottom: 25px;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 50px;
    background-color: rgba(255, 0, 0, 0.25);
} */

.portfolio{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: masonry;
    padding-bottom: 50px;
    gap: 40px;
}
.portfolio img{
    width: 100%;
    height: auto;
    transition: all .25s ease-in-out;
}
.long{
    grid-column: span 2;
}
    .portfolio img:hover{
        scale: 1.05;
    }

.lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 80vw;
    height: 90vh;
    background-color: #101011;
    align-items: center;
    z-index: 1000;
}
.lightbox-outer {
    opacity: 0;
    pointer-events: auto;
    z-index: 1;
}
.lightbox-inner {
    padding: 80px;
    z-index: 2;
}

.lightbox.show {
    display: flex;
}

.lightbox img {
    max-width: 60vw;
    max-height: 80vh;
    width: auto;
    height: auto;
    display: block;
}
/* .lightbox img.long{

} */