@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Cormorant+SC:wght@300;400&display=swap');
html{
    height: 100%;}
body{
    background-color: #1b1b1d;
    color: #FFFFFF;
    font-family: "Cormorant SC", serif;}
.container-all{
    margin-left: auto;
    margin-right: auto;
    width: 1400px;
    font-family: "Cormorant SC", serif;
    opacity: 0;
    transform: translateY(15px);
    animation: slideUp .5s ease-out forwards;}
    @keyframes slideUp{
        to{
            opacity: 1;
            transform: translateY(0);
        }}
.container-header{
    margin-bottom: 50px;
    /* background-color: rgba(255, 0, 0, 0.25); */}
.container-header-2{
    padding-top: 20px;
    line-height: .1;}
.divider-line{
    height: 2px;
    background-color: #ffffff25;
    width: 55vw;
    margin: 0 auto;}
.container-1{
    margin-left: auto;
    margin-right: auto;
    width: 1400px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 80px;
    padding-bottom: 50px;
    /* background-color: rgba(255, 150, 0, 0.05); */
}
.container-2{
display: grid;
grid-template-columns: repeat(12, 1fr);
grid-template-rows: repeat(12, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
align-items: start;}
    .item-1{grid-area: 3 / 4 / 6 / 6; padding-left: 30px;}
    .item-2{grid-area: 3 / 4 / 8 / 6; padding-left: 30px;}
    .item-3{grid-area: 4 / 5 / 1 / 1; position: relative; display: inline-block; top: -300px;}
.display{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: auto;
    transition: all .3s ease-in-out;}
    .display a{
        text-decoration: none;}
.db-list{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 70vw;
    padding: 2rem;
    gap: 5rem;}
.db-list img, .db-list h2{
    flex: 1;} 
    .db-list img{
        transform: scale(.8);}
.column{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;}
.c2{
    transform: translateY(120px);}
.column figure{
    padding-top: 40px;
    padding-bottom: 40px;}
    .column img{
        width: 20vw;
        min-width: 400px;}

/*Images/Effects——————————————————————————————————————————————————————————————————————————*/
img{
    width: 30%;
    height: 30%;
}
.display-move{
    margin: 20px;
    transition: all .3s ease-in-out;
}
.display-move img{
    width: 18vw;
    aspect-ratio: 420 / 580;
    padding-top: 2vh;
}
    .display-move:hover{
        transform: scale(1.1);
    }
    .display-move figcaption{
        color: #FFFFFF;
        font-size: 16px;
        transition: all .3s ease-in-out;
    }
        .display-move:hover figcaption{
            transform: translateY(12px) scale(1.3);
        }
.clickable{
    width: 22vw;
    min-width: 420px;
    transition: all .3s ease-in-out;
}
    .clickable:hover{
        transform: scale(1.1);
    }
.item-3 img{
    position: absolute;
    height: auto;
    width: auto;
    transform: scale(.55);
    transition: opacity 1.5s ease-in-out;
}
    .i3-2{
        opacity: 0;
    }
/* ? .item-3:hover .i3-1{
    opacity: 0;}
.item-3:hover .i3-2{
    opacity: 1;
} */

.shift-screen{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    z-index: 100;

    opacity: 0;
    visibility: hidden;
    transition: opacity 2s ease, visibility 1s ease;
}
.shift-screen-show{
    opacity: 1;
    visibility: visible;
}
    .no-transition{
        transition: none !important;
    }
/*? .gradient{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}
.BeastsO{
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    background-image: url("Images/Beasts Overlay.png");
    background-size: cover;
    background-repeat: no-repeat;
} */

/*Styles——————————————————————————————————————————————————————————————————————————————————*/
nav{
    text-align: center;
    padding-bottom: 15px;
}
nav a{
    color: #FFFFFF;
    font-size: large;
    font-weight: 300;
    text-decoration: none;
    padding-left: 18px;
    padding-right: 18px;
    display: inline-block;
    transform-origin: bottom;
    transition: transform 0.3s ease;
}
    nav a:hover{
        text-decoration: underline;
        transform: scale(1.1);
    }
a{
    color: #FFFFFF;
    text-decoration-thickness: 1px;
}


h1{
    font-size: 3.8rem;
    font-weight: 300;
    text-align: center;
}
h2{
    font-size: 3rem;
    font-weight: 300;
    text-align: center;
}
h3{
    text-decoration: none;
    font-size: 44px;
    font-weight: 300;
    padding-top: 25px;
    padding-bottom: 10px;
}
h4{
    font-family: "Cormorant Garamond", serif;
    font-weight: 300;
    font-size: 1.1rem;
    text-align: center;
}
.subtext{
    text-align: center;
    margin: auto;
    width: 1220px;
}
p{
    font-family: "Cormorant Garamond", serif;
    font-size: 1.1rem;
    line-height: 1.6;
}

/*Buttons—————————————————————————————————————————————————————————————————————————————————*/
.button-space{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    padding-bottom: 50px;
}
.back{
    position: absolute;
    top: 65px;
    left: max(100px, calc(50% - 1000px));
    width: 40px;
    height: 40px;
    background: none;
    border: none;
    filter: invert(1);
    display: inline-block;
    cursor: pointer;
    z-index: 9999;

    opacity: 0;
    transform: translateY(15px);
    animation: slideUp .5s ease-out forwards;
}
    .back img{
        width: 70%;
        height: 70%;
        object-fit: contain;
    }
.cord{
    position: fixed;
    transform-origin: bottom left;
    bottom: 0;
    left: .5vw;
    transform: translateY(30px) scale(1.5);
    display: none;
}