.container-all-port{
    margin: 0 auto;
    width: max(1500px, 75vw);
    font-family: "Cormorant SC", serif;
    opacity: 0;
    transform: translateY(15px);
    animation: slideUp .5s ease-out forwards;}
    @keyframes slideUp{
        to{
            opacity: 1;
            transform: translateY(0);
        }}

.portfolio{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: masonry;
    padding-bottom: 50px;
    gap: 40px;
}
.portfolio img{
    width: 100%;
    height: auto;
    transition: all .25s ease-in-out;
}
.long{
    grid-column: span 2;
}
    .portfolio img:hover{
        scale: 1.05;
    }


.lightbox {
    display: none;
    position: fixed;
    width: 70vw;
    height: 90vh;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    background-color: #101011;
    z-index: 1000;
    transform: translate(-50%, -50%);
    /* animation: slideUp-Port .5s ease-out forwards; */
}
    /* @keyframes slideUp-Port{
        to{
            opacity: 1;
            transform: translateY(0);
    }} */
.lightbox-inner {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 100px;
    z-index: 2;
}

.lightbox.show {
    display: block;
}

.lightbox img {
    max-width: 60vw;
    max-height: 75vh;
    width: auto;
    height: auto;
    display: block;
}
.lightbox-inner.long-layout {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-left: 0;
    padding-right: 0;
}
.lightbox img.long{
    max-width: 90vw;
    max-height: 70vh;
}

.container-all-port.blurred{
    filter: blur(2px);
    transition: filter 0.3 ease;
}