@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Cormorant+SC:wght@300;400&display=swap');
html{
    height: 100%;}
body{
    background-color: #1b1b1d;
    color: #FFFFFF;
    font-family: "Cormorant SC", serif;
    overflow-x: hidden;}
.container-all{
    margin-left: auto;
    margin-right: auto;
    width: 1400px;
    font-family: "Cormorant SC", serif;
    opacity: 0;
    transform: translateY(15px);
    animation: slideUp .5s ease-out forwards;}
    @keyframes slideUp{
        to{
            opacity: 1;
            transform: translateY(0);
        }}
.container-header{
    margin-bottom: 50px;}
.container-header-2{
    padding-top: 20px;
    line-height: .1;}
.divider-line{
    margin: 0 auto;
    height: 1px;
    background-color: #ffffff25;
    width: 100%;}
.container-1{
    margin: 0 auto;
    width: 1400px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 80px;
    padding-bottom: 80px;}
.container-2{
display: grid;
grid-template-columns: repeat(11, 1fr);
grid-template-rows: repeat(11, 1fr);
width: 1400px;
margin: 0 auto;
transform: translateY(-30px);}
    .item-1{grid-area: 3 / 4 / 6 / 6;}
    .item-2{grid-area: 3 / 4 / 8 / 6;}
    .item-3{grid-area: 1 / 1 / -1 / 10; position: relative; display: inline-block; transform: translateY(-40px);}
.container-3{
    margin: 0 auto;
    width: 1200px;
    margin-top: 50px;
    margin-bottom: 80px;
    padding-bottom: 50px;}
.display{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    transition: all .3s ease-in-out;}
    .display a{
        text-decoration: none;}
.db-list{
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    max-width: 70vw;
    padding: 2rem;
    gap: 5rem;}
.db-list img, .db-list h2{
    flex: 1;} 
    .db-list img{
        flex: 0 0 auto;
        width: clamp(300px, 20vw, 650px);}
.column{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;}
    .column a{
        text-decoration: none;}
        .column a:hover{
            text-decoration: underline;}
.c2{
    transform: translateY(120px);}
.column figure{
    padding-top: 40px;
    padding-bottom: 40px;}
    .column img{
        width: clamp(400px, 20vw, 500px);}

.bk-showcase{
    background-color: #141416;
    margin: 0 auto;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    padding: 40px 0px;}
    .bk-showcase img{
        width: 60%;}
.speak{
    position: relative;
    width: 30%;
    margin: 0 auto;
    padding: 30px 0;}
    .speak .bkp, .speak .bkp-t{
        position: absolute;
        white-space: nowrap;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
        
        font-size: 1.5rem;
        font-weight: 500;
        font-family: "Cormorant SC", serif;}
.bk-list{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem;}
    .bk-list img{
    width: clamp(300px, 20vw, 650px);
    aspect-ratio: 480 / 580;
    object-fit: cover;}
.bk-lane{
    padding: 3rem;}
    .bk-lane figure{
        padding: 15px 0;}
    .bk-lane img{
        width: 70%;}
.bk-lane a{
    text-decoration: none;}
    .bk-lane a:hover{
        text-decoration: underline;}

.flex-left{
    height: auto;
    float: left;
    width: min(500px, 80vw);
    margin: 30px;}
.flex-right{
    height: auto;
    float: right;
    width: min(500px, 80vw);
    margin: 30px;}
.flex-center{
    width: 95%;
    display: block;
    margin: 30px auto;}
.notif{
    background-color: black;
    display: none;
    position: fixed;
    width: 100%;
    text-align: center;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px 50px 20px 50px;
    z-index: 9999;}

/*Images/Effects——————————————————————————————————————————————————————————————————————————*/
img{
    width: 30%;
    height: 30%;}
.display-move{
    margin: 20px;
    transition: all .3s ease-in-out;}
.display-move img{
    width: 18vw;
    min-width: 280px;
    aspect-ratio: 420 / 580;
    padding-top: 2vh;}
    .display-move:hover{
        transform: scale(1.1);}
    .display-move figcaption{
        color: #FFFFFF;
        font-size: 16px;
        transition: all .3s ease-in-out;}
        .display-move:hover figcaption{
            transform: translateY(12px) scale(1.3);}
.clickable{
    width: 22vw;
    min-width: 280px;
    transition: all .3s ease-in-out;}
    .clickable:hover{
        transform: scale(1.1);}
.item-3 img{
    position: absolute;
    width: clamp(300px, 32vw, 750px);
    height: auto;
    transition: opacity 1.5s ease-in-out;}
    .i3-2{
        opacity: 0;}
/* ? .item-3:hover .i3-1{
    opacity: 0;}
.item-3:hover .i3-2{
    opacity: 1;
} */

.shift-screen{
    margin: 0;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    z-index: 100;

    opacity: 0;
    visibility: hidden;
    transition: opacity 2s ease, visibility 1s ease;}
.shift-screen-show{
    opacity: 1;
    visibility: visible;}
    .shift-screen.no-transition{
        transition: none !important;}
.gradient{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    pointer-events: none;}
.gradient img{
    position: absolute;
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 3s ease-in;
    pointer-events: none;}

.backscape{
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: .6;
    width: max(100%, 60vw);
    height: 100%;
    z-index: -10;}

/*Styles——————————————————————————————————————————————————————————————————————————————————*/
nav{
    text-align: center;
    padding-bottom: 15px;
}
nav a{
    color: #FFFFFF;
    font-size: large;
    text-decoration: none;
    padding-left: 18px;
    padding-right: 18px;
    display: inline-block;
    transform-origin: bottom;
    transition: transform 0.3s ease;
}
    nav a:hover{
        text-decoration: underline;
        transform: scale(1.1);
    }
a{
    color: #FFFFFF;
    text-decoration-thickness: 1px;
}

h1{
    font-size: clamp(2rem, 5vw, 3.8rem);
    font-weight: 300;
    text-align: center;
}
h2{
    font-size: clamp(1rem, 10vw, 3rem);
    font-weight: 300;
    text-align: center;
}
h3{
    font-size: clamp(1.8rem, 5vw, 44px);
    font-weight: 300;
    padding-top: 25px;
    padding-bottom: 10px;
}
h4{
    font-family: "Cormorant Garamond", serif;
    font-weight: 300;
    font-size: 1.1rem;
    text-align: center;
}
.subtext{
    text-align: center;
    margin: 0 auto;
    width: min(1220px, 80vw);
}
p{
    font-family: "Cormorant Garamond", serif;
    font-size: 1.1rem;
    line-height: 1.6;
}
.passage{
    margin: 0 auto;
    padding: 10px;
    font-size: min(1.1rem, 3.8vw);
}
.p2{
    font-family: "Cormorant SC", serif;
    text-align: center;
}
.passage-lead{
    text-align: center;
    font-style: italic;
    padding-top: 40px;
    line-height: 1px;
}

/*Buttons—————————————————————————————————————————————————————————————————————————————————*/
.button-space{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    padding-bottom: 50px;
}
.back{
    position: absolute;
    top: max(4.5vh, 65px);
    left: max(100px, calc(50% - 1000px));
    width: 40px;
    height: 40px;
    background: none;
    border: none;
    filter: invert(1);
    display: inline-block;
    cursor: pointer;
    z-index: 9999;

    opacity: 0;
    transform: translateY(15px);
    animation: slideUp .5s ease-out forwards;
}
    .back img{
        width: 70%;
        height: 70%;
        object-fit: contain;
    }
.cord{
    position: fixed;
    transform-origin: bottom left;
    bottom: 0;
    left: .5vw;
    transform: translateY(30px) scale(1.5);
    display: none;
}

.dot{
    width: 3vw;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: #ffff;
    margin: 15px auto;
    cursor: pointer;
}